@import "../abstracts/variables";

@mixin block-width {
  width: 375px;
  margin: 0 auto;

  @media #{$information_tablets} {
    width: 960px;
  }

  @media #{$information_desktop} {
    width: 1440px;
  }
}

@mixin hidden_in_mobile {
  @media #{$information_mobile} {
    display: none;
    visibility: hidden;
  }
}
