$information_tablets: "only screen and (min-width : 960px) and (max-width : 1439px)";
$information_desktop: "only screen and (min-width : 1440px)";
$information_mobile: "only screen and (max-width : 959px)";

$Gold: #e3b873;

$size15px: 0.9rem;
