.logo_block {
  width: 120px;
  padding-top: 36px;

  @include on_page_center();
}

.logo_block-text {
  margin-top: 0;

  font-family: $YesevaOne;
  font-size: 1.25rem;

  color: #ffffff;

  text-align: center;
  text-transform: uppercase;
  @media #{$information_mobile} {
    font-size: 1.375rem;
    line-height: 138.6%;
  }
}

.logo_block-image {
  @include on_page_center();
}

.label-heading {
  margin-top: 18px;

  font-family: $FuturaBookC;
  font-size: 1.25rem;
  line-height: 27px;

  color: #ffffff;

  text-align: center;

  @include on_page_center();
}
