//TODO 3 columns the same width but with different height of children.

.design_projects {
  width: 100%;
  height: 910px;

  background: linear-gradient(
    to top,
    #131313,
    #131313 41%,
    #fff 41%,
    #fff 100%
  );

  @include hidden_in_mobile();

  .logo_block {
    width: 257px;
    padding-top: 69px;
  }

  .logo_block-text {
    font-weight: 300;

    color: #181818;
  }

  .logo_block-image {
    content: url("../images/design_icon.png");
  }

  .label-heading {
    width: 700px;

    color: #363636;
  }
}

.design_projects * {
  background: transparent;
}

.design_projects-heading {
  margin-top: 18px;

  font-family: $FuturaBookC;
  font-size: 1.25rem;
  line-height: 27px;

  text-align: center;

  @include on_page_center();
}

.designs_container {
  width: 1236px;
  margin-top: 47px;

  @include on_page_center();
}

.designs_container-design {
  position: relative;

  width: 392px;
  height: 421px;

  .info_block {
    position: absolute;
    top: 295px;
    left: 32px;

    width: 330px;

    background: #ffffff;
  }

  .info_block-label {
    padding-top: 6px;
  }

  .info_block_item {
    font-size: $size15px;
  }

  .info_block-button {
    height: 54px;
    margin-top: 17px;
    padding-left: 31px;

    text-align: left;
  }
}

.designs_container-mini {
  background-image: url("../images/design_shadow.png"),
    url("../images/redecoration_back.png");

  .info_block {
    height: 210px;
  }
}

.designs_container-standard {
  background-image: url("../images/design_shadow.png"),
    url("../images/designer_back.png");

  .info_block {
    height: 287px;
  }
}

.designs_container-full {
  background-image: url("../images/design_shadow.png"),
    url("../images/designer_full.png");

  .info_block {
    height: 414px;
  }
}
