//TODO 3 columns the same width but with different height of children.

.design_projects {
  width: 100%;
  height: 910px;

  background: linear-gradient(
    to top,
    #131313,
    #131313 41%,
    #fff 41%,
    #fff 100%
  );

  @include hidden_in_mobile();
}

.design_projects * {
  background: transparent;
}

.design_projects_label {
  width: 257px;
  padding-top: 69px;

  @include on_page_center();
}

.design_projects_label-text {
  margin-top: 0;

  font-family: $YesevaOne;
  font-size: 1.2rem;
  font-weight: 300;

  color: #181818;

  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.design_projects_label-image {
  content: url("../images/design_icon.png");

  @include on_page_center();
}

.design_projects-heading {
  width: 700px;
  margin-top: 18px;

  font-family: $FuturaBookC;
  font-size: 1.25rem;
  line-height: 27px;

  color: #363636;

  text-align: center;

  @include on_page_center();
}
