.design_projects {
  width: 100%;
  height: 910px;

  background: linear-gradient(
    to top,
    #131313,
    #131313 41%,
    #fff 41%,
    #fff 100%
  );

  @media #{$information_mobile} {
    height: 1770px;

    background: #131313;
  }

  @media #{$information_tablets} {
    height: 1300px;

    background: #131313;
  }

  .logo_block {
    width: 257px;
    padding-top: 69px;
    @media #{$information_mobile} {
      padding-top: 36px;
    }
  }

  .logo_block-text {
    font-weight: 300;

    color: #181818;

    @media #{$information_mobile_n_tablets} {
      margin-bottom: 0;

      color: #ffffff;
    }
  }

  .logo_block-image {
    content: url("../images/design_icon.png");
    @media #{$information_mobile} {
      margin-top: 14px;
    }
  }

  .label-heading {
    width: 700px;

    color: #363636;

    @media #{$information_tablets} {
      color: #ffffff;
    }

    @media #{$information_mobile} {
      width: 290px;
      margin-top: 20px;

      font-size: 0.9375rem;
      line-height: 1.25rem;

      color: #ffffff;
    }
  }
}

.design_projects * {
  background: transparent;
}

.design_projects-heading {
  margin-top: 18px;

  font-family: $FuturaBookC;
  font-size: 1.25rem;
  line-height: 27px;

  text-align: center;

  @include on_page_center();
}

.designs_container {
  width: 1236px;
  margin-top: 47px;

  @include on_page_center();

  @media #{$information_tablets} {
    width: 800px;
    margin-top: 37px;
  }

  @media #{$information_mobile} {
    width: 340px;
    margin-top: 37px;
  }
}

.designs_container-design {
  position: relative;

  width: 392px;
  height: 421px;

  background: no-repeat;

  .info_block {
    position: absolute;
    top: 295px;
    left: 32px;

    width: 330px;

    background: #ffffff;

    @media #{$information_mobile_n_tablets} {
      position: static;

      width: 270px;
      margin-top: 223px;
    }
  }

  .info_block-label {
    padding-top: 6px;
    @media #{$information_mobile_n_tablets} {
      padding-top: 16px;
    }
  }

  .info_block_item {
    font-size: $size15px;

    &:nth-child(n + 8) {
      @include hidden_in_tablets();
      @include hidden_in_mobile();
    }
  }

  .info_block-button {
    height: 54px;
    margin-top: 17px;
    padding-left: 31px;

    text-align: left;

    @media #{$information_mobile_n_tablets} {
      width: 190px;
      height: 40px;
      margin-top: 10px;
      padding-left: 0;

      text-align: center;
    }
  }

  @media #{$information_mobile_n_tablets} {
    background-size: contain;

    .info_block-list {
      margin-top: 9px;
    }
  }
}

.designs_container-mini {
  background-image: url("../images/design_shadow.png"),
    url("../images/redecoration_back.png");

  .info_block {
    height: 210px;
    @media #{$information_mobile_n_tablets} {
      height: 177px;
    }
  }
}

.designs_container-standard {
  background-image: url("../images/design_shadow.png"),
    url("../images/designer_back.png");

  @media #{$information_mobile} {
    margin-top: 60px;
  }

  .info_block {
    height: 287px;
    @media #{$information_mobile} {
      height: 241px;
    }

    @media #{$information_tablets} {
      height: 252px;
    }
  }
}

.designs_container-full {
  background-image: url("../images/design_shadow.png"),
    url("../images/designer_full.png");

  @media #{$information_mobile_n_tablets} {
    margin-top: 121px;
  }

  @media #{$information_tablets} {
    @include on_page_center();
  }

  .info_block {
    height: 414px;
    @media #{$information_mobile} {
      height: 241px;
    }

    @media #{$information_tablets} {
      height: 252px;
    }
  }
}
