.details {
  width: 100%;

  background-image: url("../images/details_shadow.png"),
    url("../images/details_image.png");

  @media #{$information_tablets} {
    height: 660px;
  }

  @media #{$information_desktop} {
    height: 955px;
  }

  @media #{$information_mobile} {
    height: 525px;

    background-image: none;
  }

  * {
    background: transparent;
  }

  .logo_block {
    width: 589px;
    padding-top: 274px;

    @media #{$information_mobile} {
      order: 1;

      width: 589px;
      padding-top: 39px;
    }

    @media #{$information_tablets} {
      order: 1;

      padding-top: 25px;
    }
  }

  .logo_block-text {
    margin-bottom: 0;

    font-family: $YesevaOne;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;

    color: $Gold;

    @media #{$information_mobile} {
      font-size: 1.125rem;
      line-height: 1.5625rem;
    }

    br {
      display: none;
      @media #{$information_mobile} {
        display: inline;
      }
    }
  }

  .logo_block-image {
    display: flex;
    justify-content: space-between;

    width: 71px;
    height: 28px;
    margin-top: 22px;

    @media #{$information_mobile} {
      width: 100px;
    }

    * {
      width: 28px;
      height: 28px;

      border: none;
      background-repeat: no-repeat;

      @media #{$information_mobile} {
        width: 39px;
        height: 39px;

        background-size: cover;
      }
    }
  }
}

.logo_block-mail {
  background-image: url("../images/mail_icon.svg");
}

.logo_block-instagram {
  background-image: url("../images/instagram_icon.svg");
}

.details-map {
  width: 925px;
  height: 465px;
  margin-top: 43px;

  background: url("../images/map_image.png") no-repeat;

  @include on_page_center();

  @media #{$information_mobile} {
    width: 340px;
    height: 255px;
    margin-top: 57px;

    background-size: cover;
  }
}
