//TODO Phone number must contain href of type tel.
//TODO Interactive buttons of socail networks.
//TODO Map API block can be placed as just image.

.details {
  width: 100%;
  height: 490px;

  @media #{$information_desktop} {
    height: 721px;
  }
}
