//TODO Interactive navbar, button.
//TODO Phone number must contain href of type tel.

.footer {
  width: 100%;
  display: none;

  @include hidden_in_mobile();

  @media #{$information_desktop} {
    display: inline-block;

    height: 133px;
  }
}
