.footer {
  display: none;

  width: 100%;

  text-transform: uppercase;

  .header_container {
    padding-top: 24px;
  }

  @media #{$information_desktop} {
    display: inline-block;

    height: 133px;
  }
}
