//TODO Interactive navbar, button.
//TODO Phone number must contain href of type tel.

.footer {
  display: none;

  width: 100%;

  text-transform: uppercase;

  .header_container {
    padding-top: 20px;
  }

  @media #{$information_desktop} {
    display: inline-block;

    height: 133px;
  }
}
