.header {
  width: 100%;

  text-transform: uppercase;

  height: 83px;

  @media #{$information_mobile} {
    height: 57px;
  }
}

.header_container * {
  font-family: $FuturaDemiC;
  font-size: 14px;

  color: white;

  @media #{$information_mobile} {
    font-size: 0.75rem;
    line-height: 14px;
  }
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1256px;
  height: 57px;
  padding-right: 83px;
  padding-left: 83px;

  @media #{$information_tablets} {
    justify-content: space-around;

    width: 100%;
    padding: 0;
  }

  @media #{$information_mobile} {
    justify-content: space-around;

    width: 100%;
    padding: 0;
  }
}

.header--active {
  color: $Gold;
}

.header-brand {
  padding-top: 26px;

  @media #{$information_mobile} {
    padding-top: 13px;
  }

  @media #{$information_tablets} {
    cursor: pointer;
  }
}

.header_nav {
  @include hidden_in_mobile();

  @media #{$information_tablets} {
    display: none;
  }
}

.header_nav-menu {
  padding-top: 21px;

  list-style-type: none;
}

.header_nav-element {
  float: left;

  margin-right: 48px;
}

.header_nav-link {
  font-family: $FuturaBookC;

  color: inherit;
  border: none;

  text-decoration: none;
}

.header_nav-element:last-child {
  margin-right: 0;
}

.header-tel_number {
  padding-top: 35px;

  border-bottom: 1px solid $Gold;

  text-decoration: none;

  @media #{$information_mobile} {
    padding-top: 21px;

    color: #ffffff;
    border-bottom: none;
  }
}

.header-call_request {
  width: 161px;
  height: 37px;
  margin-top: 24px;

  // margin-left: 45px;

  font-size: 13px;

  border: none;
  border-radius: 2px;
  outline: none;
  background-color: $Gold;

  text-transform: uppercase;

  @include hidden_in_mobile();
}
