//TODO Interactive "scroll down".
//TODO set second picture in full size (overflow hidden)

.homepage {
  position: relative;

  width: 100%;
  height: 476px;

  background-image: url("../images/homepage-back-2.png"),
    url("../images/homepage-back.png");
  background-repeat: no-repeat;
  background-size: 1358px 708px;

  @media #{$information_desktop} {
    height: 755px;

    background-position: 82px 0;
  }

  @media #{$information_mobile} {
    background-image: url("../images/homepage_mobile_back_2.png"),
      url("../images/homepage_mobile_back.png");
    background-size: contain;
  }
}

.homepage_container {
  position: relative;

  display: grid;

  padding-top: 188px;

  background: transparent;

  grid-template-columns: 82px 740px;
  grid-template-rows: 103px 109px 100px;

  @media #{$information_mobile} {
    display: block;

    padding-top: 52px;
  }
}

.homepage_container * {
  background: transparent;
}

.homepage-instagram_link {
  position: absolute;
  top: 103px;
  left: -46px;

  display: inline-block;

  width: 174px;
  height: 25px;

  font-family: $FuturaDemiC, sans-serif;
  font-size: 14px;

  color: $Gold;
  border: none;
  background: transparent;

  transform: rotate(90deg);
  text-align: center;
  text-decoration: none;
  text-decoration: none;

  grid-column: 1;
  grid-row: 1 / span 2;

  @include hidden_in_mobile();
}

.homepage-line {
  display: inline-block;

  width: 51px;
  height: 2px;
  margin-bottom: 5px;
  margin-left: 10px;

  background-color: $Gold;
}

.homepage-tagline {
  align-self: center;

  width: 520px;
  margin-left: 60px;
  padding-top: 9px;

  font-family: $YesevaOne;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 52px;

  color: #ffffff;

  text-transform: uppercase;

  grid-column: 2;
  grid-row: 1;

  @media #{$information_mobile} {
    width: 340px;
    margin-bottom: 0;
    margin-left: 18px;

    font-size: 1.4375rem;
    line-height: 132.83%;
  }
}

.homepage-tagline_city {
  color: $Gold;
}

.homepage-offer {
  align-self: baseline;

  width: 460px;
  margin-left: 60px;

  font-family: $FuturaBookC;
  font-size: 1.38rem;
  line-height: 30px;

  color: #ffffff;

  grid-column: 2;
  grid-row: 2;

  @media #{$information_mobile} {
    width: 320px;
    margin-top: 13px;
    margin-left: 18px;

    font-size: 1.125rem;
    line-height: 135.84%;
  }
}

.homepage_buttons {
  align-self: end;

  margin-left: 60px;

  text-transform: uppercase;

  grid-column: 2;
  grid-row: 3;

  @media #{$information_mobile} {
    width: 338px;
    margin-top: 34px;

    @include on_page_center();
  }
}

.homepage_buttons .button {
  width: 208px;
  height: 52px;

  font-family: FuturaDemiC, sans-serif;
  font-size: 0.81rem;

  color: #ffffff;
  border-radius: 3px;
  outline: none;

  text-transform: uppercase;

  @media #{$information_mobile} {
    width: 100%;
    margin-bottom: 26px;
  }
}

.homepage_buttons-calculate {
  margin-right: 15px;

  border: none;
  background-color: $Gold;

  text-transform: uppercase;
}

.homepage_buttons-submit::before {
  @media #{$information_tablets} {
    content: "SUBMIT YOUR APPLICATION";
  }
  @media #{$information_mobile} {
    content: "APPLICATION";
  }
}

.header_scroll {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 247px;
  height: 97px;
  margin-top: 159px;

  background-color: #131313;

  @include hidden_in_mobile();
}

.header_scroll-label {
  font-family: $YesevaOne;
  font-size: 0.88rem;

  color: #ffffff;

  text-transform: uppercase;
}

.header_scroll-icon {
  margin-left: 18px;

  font-size: 2rem;

  color: $Gold;

  content: url("../images/arrow-circle.svg");
}
