//TODO Validation on not empty fields with correct type.
//TODO set form as grid, not as flex

.question_form {
  width: 100%;
  padding-top: 63px;

  @media #{$information_desktop} {
    height: 223px;

    background-color: #fff;
  }

  @media #{$information_mobile} {
    height: 502px;
  }

  * {
    background: transparent;
  }

  .checkbox_container {
    width: 295px;
    margin-top: 48px;

    font-family: $FuturaBookC;
    font-size: 1rem;
    line-height: 22px;

    color: #ffffff;

    @include on_page_center();

    @media #{$information_mobile} {
      margin-top: 18px;
      margin-left: 0;
    }
  }

  .question-input {
    font-family: FuturaBookC;
    font-size: 1.125rem;
    line-height: 24px;

    color: #ffffff;
  }
  .form-label {
    top: -18px;

    font-family: $FuturaBookC;

    color: #ffffff80;
  }

  .form-submit {
    display: block;

    width: 200px;
    height: 51px;
    margin-top: 49px;

    font-family: $FuturaDemiC;
    font-size: 0.9375rem;
    line-height: 26px;

    @include on_page_center();

    @media #{$information_mobile} {
      width: 340px;
      margin-top: 67px;
      margin-left: 0;
    }
  }
}

.question_form_container {
  position: relative;

  width: 883px;
  height: 445px;

  background: #181818;

  @include on_page_center();
  @media #{$information_mobile} {
    width: 340px;

    background: none;
  }
}

.form_container {
  width: 520px;
  padding-top: 16px;

  @include on_page_center();
}

.grid_container {
  display: grid;

  grid-template-columns: 290px 230px;
  grid-template-rows: 109px 93px 50px 50px 50px;

  @media #{$information_mobile} {
    grid-template-columns: 340px;
    grid-template-rows: 97px 106px 110px 24px 67px 50px;
  }
}

.form_container-label {
  margin-bottom: 0;

  font-family: $YesevaOne;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;

  color: #ffffff;

  text-align: center;
  text-transform: uppercase;

  grid-column: 1 / span 2;
  grid-row: 1;

  @media #{$information_mobile} {
    margin-top: 0;

    grid-column: 1;
    grid-row: 1;
  }
}

.form_container_name {
  grid-column: 1;
  grid-row: 2;

  @media #{$information_mobile} {
    grid-column: 1;
    grid-row: 2;
  }
}

.form_container_phone {
  grid-column: 2;
  grid-row: 2;

  @media #{$information_mobile} {
    grid-column: 1;
    grid-row: 3;
  }
}

.form_container_question {
  width: 100%;

  grid-column: 1 / span 2;
  grid-row: 3;

  input {
    width: 516px;
    @media #{$information_mobile} {
      width: 340px;
    }
  }

  @media #{$information_mobile} {
    grid-column: 1;
    grid-row: 4;
  }
}

.checkbox_container.form_container_checkbox {
  margin-top: 21px;

  grid-column: 1 / span 2;
  grid-row: 4;

  @media #{$information_mobile} {
    grid-column: 1;
    grid-row: 5;
  }
}

.form-submit.form_container-submit {
  margin-top: 42px;

  grid-column: 1 / span 2;
  grid-row: 5;

  @media #{$information_mobile} {
    grid-column: 1;
    grid-row: 6;
  }
}

.form_container_name,
.form_container_phone {
  input {
    width: 231px;
    @media #{$information_mobile} {
      width: 340px;
    }
  }
}
