//TODO Validation on not empty fields with correct type.
//TODO set form as grid, not as flex

.question_form {
  width: 100%;
  height: 565px;

  @media #{$information_desktop} {
    height: 286px;

    background-color: #fff;
  }

  * {
    background: transparent;
  }

  .checkbox_container {
    width: 295px;
    margin-top: 48px;

    font-family: $FuturaBookC;
    font-size: 1rem;
    line-height: 22px;

    color: #ffffff;

    @include on_page_center();

    @media #{$information_mobile} {
      margin-top: 18px;
      margin-left: 0;
    }
  }

  .question-input {
    font-family: FuturaBookC;
    font-size: 1.125rem;
    line-height: 24px;

    color: #ffffff;
  }
  .form-label {
    top: -18px;

    font-family: $FuturaBookC;

    color: #ffffff80;
  }

  .form-submit {
    display: block;

    width: 200px;
    height: 51px;
    margin-top: 49px;

    font-family: $FuturaDemiC;
    font-size: 0.9375rem;
    line-height: 26px;

    @include on_page_center();

    @media #{$information_mobile} {
      margin-top: 67px;
      margin-left: 0;
      width: 340px;
    }
  }
}

.question_form_container {
  position: relative;

  padding-top: 46px;

  @media #{$information_mobile} {
    padding-top: 27px;
  }
}

.form_container {
  width: 883px;
  height: 445px;

  background: #181818;

  @include on_page_center();

  .flex_container {
    width: 520px;
    height: 320px;

    @include on_page_center();

    @media #{$information_mobile} {
      width: 340px;
      margin: 0;
    }
  }

  @media #{$information_mobile} {
    width: 340px;
    background: none;
  }
}

.forms_element_container {
  width: 520px;

  @include on_page_center();

  @media #{$information_mobile} {
    margin-top: 10px;
  }
}

.form_container-label {
  margin-bottom: 0;
  padding-top: 33px;

  font-family: $YesevaOne;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;

  color: #ffffff;

  text-align: center;
  text-transform: uppercase;

  @include on_page_center();
}

.name_phone_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin-top: 60px;

  * {
    width: 231px;
  }

  @media #{$information_mobile} {
    width: 340px;
    * {
      width: 340px;
    }
  }
}

.form_container-question {
  width: 100%;
}

.question_input {
  margin-top: 67px;
  @media #{$information_mobile} {
    margin-top: 83px;
    width: 340px;
  }
}

.phone_container {
  @media #{$information_mobile} {
    margin-top: 80px;
  }
}
