@import "../abstracts/mixins";

.question_form {
  height: 565px;

  @include block-width();

  @media #{$information_desktop} {
    height: 520px;

    background: linear-gradient(to top, #131313, #131313 45%, #fff 45%, #fff);
  }
}
