.repair_styles {
  width: 100%;
  height: 1120px;

  background: linear-gradient(0deg, #131313 89.1%, #fff 89.1%);

  .header_scroll {
    display: none;
  }

  @media #{$information_desktop} {
    background: linear-gradient(
      to top,
      #fff,
      #fff 7.7%,
      #131313 7.7%,
      #131313 85%,
      #fff 85%,
      #fff 100%
    );
  }

  @media #{$information_mobile} {
    height: 430px;

    background: linear-gradient(
      to top,
      #131313,
      #131313 31.1%,
      #fff 31.1%,
      #fff 100%
    );

    .header_scroll {
      position: absolute;
      top: 0;

      display: block;
    }
  }
}

.repair_styles * {
  background: transparent;
}

.repair_styles_container {
  position: relative;

  display: grid;

  padding-top: 45px;

  background-image: url("../images/repair_styles_back.png");
  background-repeat: no-repeat;
  background-position-y: 168px;
  background-size: 100%;

  grid-template-columns: 550px 397px 400px;
  grid-template-rows: 310px 350px 370px;

  @media #{$information_tablets} {
    grid-template-columns: 480px auto;
    grid-template-rows: 310px 350px 370px;
  }

  @media #{$information_mobile} {
    display: block;

    background-image: none;
  }
}

.styles_menu {
  margin-top: 236px;
  margin-left: 100px;

  grid-column: 1;
  grid-row: 1 / span 3;

  @media #{$information_mobile} {
    margin-top: 37px;
    margin-left: 73px;
  }
}

.styles_menu-label {
  width: 300px;

  font-family: $YesevaOne;
  font-size: 1.6875rem;
  font-weight: normal;
  line-height: 2.3125rem;

  color: $Gold;

  text-transform: uppercase;

  @media #{$information_mobile} {
    width: 230px;

    font-size: 1.375rem;
    line-height: 1.875rem;

    text-align: center;
    letter-spacing: 0;
  }
}

.styles_menu_list {
  margin-top: 44px;
  padding-left: 0;

  list-style-type: none;

  @include hidden_in_mobile();
}

.styles_menu_list-item {
  margin-bottom: 24px;

  line-height: 24px;

  :last-child {
    margin-bottom: 0;
  }
}

.styles_menu_list-link {
  font-family: $ProximaNova;
  font-size: 1.25rem;

  color: #ffffff;

  text-decoration: none;
}

.styles_menu_list-item--active .styles_menu_list-link {
  display: inline-block;

  padding-bottom: 2px;

  color: $Gold;
  border-bottom: 1px solid $Gold;
}

.repair_styles-image {
  width: 354px;
  @media #{$information_mobile} {
    width: 340px;

    &:not(:nth-child(2)) {
      display: none;
    }
  }
}

.repair_styles-first_image {
  height: 557px;
  margin-top: 83px;
  margin-left: 38px;

  background-image: url("../images/repair_styles_1.png");

  grid-column: 2;
  grid-row: 1 / span 2;

  @media #{$information_mobile} {
    height: 242px;
    margin-top: 32px;
    margin-left: 18px;

    background-image: url("../images/repair_styles_mobile_back.png");
  }
}

.repair_styles-second_image {
  height: 350px;
  margin-top: 20px;
  margin-left: 38px;

  background-image: url("../images/repair_styles_2.png");

  grid-column: 2;
  grid-row: 3;
}

.repair_styles-third_image {
  height: 275px;
  margin-top: 11px;
  margin-left: 38px;

  background-image: url("../images/repair_styles_3.png");

  grid-column: 3;
  grid-row: 1;

  @include hidden_in_tablets();
}

.repair_styles-fourth_image {
  height: 625px;
  margin-top: 11px;
  margin-left: 38px;

  background-image: url("../images/repair_styles_4.png");

  grid-column: 3;
  grid-row: 2 / span 3;

  @include hidden_in_tablets();
}

.sliders_container {
  .projects_images-slider {
    display: none;
  }

  @media #{$information_mobile} {
    .projects_images-slider {
      top: 277px;

      display: block;
    }
    .projects_images-slider_right {
      right: 29px;
    }
    .projects_images-slider_left {
      left: 31px;
    }
  }
}
