@import "../abstracts/mixins";

body {
  background-color: rgb(38, 38, 38);
}

.site_container {
  @include block-width();
}

.site_container * {
  background: rgb(19, 19, 19);
}

button {
  outline: none;

  &:focus {outline:none;}
  &::-moz-focus-inner {border:0;}
}

a {
  outline: none;
}