//TODO Correct placement of photos and related images.

.team {
  width: 100%;
  height: 1685px;

  @media #{$information_desktop} {
    height: 912px;

    background: linear-gradient(
      to top,
      #fff,
      #fff 51.4%,
      #131313 51.4%,
      #131313
    );
  }
}

.team_logo {
  padding-top: 36px;
  width: 120px;

  @include on_page_center();
}

.team_logo-text {
  margin-top: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-family: $YesevaOne;
  font-size: 1.25rem;
  text-align: center;
}

.team_logo-image {
  content: url("../images/team_logo.png");
  @include on_page_center();
}
