//TODO Correct placement of photos and related images.

.team {
  width: 100%;
  height: 1685px;

  @media #{$information_desktop} {
    height: 912px;

    background: linear-gradient(
      to top,
      #fff,
      #fff 51.4%,
      #131313 51.4%,
      #131313
    );
  }

  * {
    background: transparent;
  }

  .label-heading {
    width: 460px;
  }

  .logo_block-image {
    content: url("../images/team_logo.png");
  }
}

.team_container {
  width: 1027px;
  margin-top: 81px;

  @include on_page_center();
}

.worker_container {
  position: relative;

  width: 272px;
  height: 357px;

  .info_block {
    width: 233px;
    height: 137px;
    margin-top: 278px;

    background: #ffffff;

    @include on_page_center();
  }

  .info_block-label {
    padding-top: 21px;
    padding-left: 0;

    text-align: center;
  }

  .info_block-text {
    margin-top: 6px;
    margin-bottom: 0;

    font-family: $FuturaBookC;
    font-size: 1.125rem;
    line-height: 26px;

    color: #959595;

    text-align: center;
  }

  .info_block-button {
    width: 233px;
    height: 44px;
    margin-top: 19px;

    font-size: 0.8125rem;
  }
}

.worker_container-logo {
  position: absolute;
  top: -35px;
  left: -35px;

  width: 70px;
  height: 70px;
  margin: 0;

  box-shadow: 0 4px 10px $Gold;
}

.project_manager_block {
  background: url("../images/project_manager_face.png") no-repeat;

  .worker_container-logo {
    background: url("../images/project_manager_logo.png");
  }
}

.designer_block {
  background: url("../images/designer_face.png") no-repeat;

  .worker_container-logo {
    background: url("../images/designer_logo.png");
  }
}

.foreman_block {
  background: url("../images/foreman_face.png") no-repeat;

  .worker_container-logo {
    background: url("../images/foreman_logo.png");
  }
}

.team-experience {
  width: 558px;
  margin-top: 121px;

  font-family: $FuturaBookC;
  font-size: 1.25rem;
  line-height: 34px;

  text-align: center;

  @include on_page_center();
}
