@import "../abstracts/mixins";

.team {
  width: 100%;
  height: 1685px;

  @media #{$information_desktop} {
    height: 912px;

    background: linear-gradient(
      to top,
      #fff,
      #fff 51.4%,
      #131313 51.4%,
      #131313
    );
  }
}
