//TODO any youtube video of repair topic: https://support.google.com/youtube/answer/171780?hl=en
//TODO Validation on not empty fields with correct type.

.video_control {
  width: 100%;
  height: 910px;

  background: linear-gradient(0deg, #fff 6.3%, #131313 6.3%);

  @media #{$information_desktop} {
    height: 1080px;

    background: linear-gradient(0deg, #fff 66%, #131313 34%);
  }

  @media #{$information_mobile} {
    height: 752px;
  }

  .logo_block {
    width: 200px;
    padding-top: 45px;
    @media #{$information_mobile} {
      padding-top: 25px;
    }
  }

  .logo_block-text {
    margin-bottom: 0;
  }

  .logo_block-image {
    margin-top: 14px;

    content: url("../images/camera.png");

    @media #{$information_mobile} {
      margin-top: 17px;
    }
  }
}

.video_control * {
  background: transparent;
}

.video_container {
  position: relative;

  width: 817px;
  height: 434px;
  margin-top: 31px;

  @include on_page_center();

  @media #{$information_mobile} {
    width: 340px;
    height: 207px;
    margin-top: 40px;
  }
}

.video_container-video {
  width: 100%;
  height: 100%;

  background: url("../images/video_poster.png");

  @media #{$information_mobile} {
    background: url("../images/video_poster_mobile.png");
  }
}

.video_controller {
  position: absolute;
  top: 174px;
  left: 365px;
  @media #{$information_mobile} {
    top: 85px;
    left: 152px;
  }
}

.video_controller-play {
  width: 85px;
  height: 85px;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-image: url("../images/play_button.png");
  @media #{$information_mobile} {
    width: 37px;
    height: 37px;
    background-size: contain;
  }
}

.video_control-line {
  width: 55px;
  margin-top: 63px;

  border-bottom: 2px solid $Gold;

  @include on_page_center();
}

.video_control-text {
  width: 700px;
  margin-top: 27px;

  font-family: $FuturaBookC;
  font-size: 1.25rem;
  line-height: 34px;

  text-align: center;

  @include on_page_center();
}

.video_control_form {
  width: 770px;
  margin-top: 95px;

  @include on_page_center();

  .form-input {
    width: 231px;
    height: 44px;

    font-family: $FuturaBookC;
  }

  .form-submit {
    width: 200px;
    height: 51px;

    font-family: $FuturaDemiC;
    font-size: 0.95rem;
  }

  .form-label {
    font-family: $FuturaBookC;
  }

  .checkbox_container {
    width: 290px;
    margin-top: 32px;

    font-family: $FuturaBookC;

    @include on_page_center();
  }
}
