@import "../abstracts/mixins";

.video_control {
  width: 100%;
  height: 910px;

  background: linear-gradient(0deg, #fff 6.3%, #131313 6.3%);

  @media #{$information_desktop} {
    height: 1080px;

    background: linear-gradient(0deg, #fff 66%, #131313 34%);
  }
}

.video_control * {
  background: transparent;
}

.video_control_label {
  width: 200px;
  padding-top: 45px;

  @include on_page_center();
}

.video_control_label-text {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-family: $YesevaOne;
  font-size: 1.25rem;

  color: #ffffff;

  text-align: center;
  text-transform: uppercase;
}

.video_control-image {
  margin-top: 14px;

  content: url("../images/camera.png");

  @include on_page_center();
}

.video_container {
  position: relative;

  width: 817px;
  height: 434px;
  margin-top: 31px;

  @include on_page_center();
}

.video_container-video {
  width: 100%;
  height: 100%;

  background: url("../images/video_poster.png");
}

.video_controller {
  position: absolute;
  top: 174px;
  left: 365px;
}

.video_controller-play {
  width: 85px;
  height: 85px;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-image: url("../images/play_button.png");

  cursor: pointer;
}

.video_control-line {
  width: 55px;
  margin-top: 63px;

  border-bottom: 2px solid $Gold;

  @include on_page_center();
}

.video_control-text {
  width: 700px;
  margin-top: 27px;

  font-family: $FuturaBookC;
  font-size: 1.25rem;
  line-height: 34px;

  text-align: center;

  @include on_page_center();
}

.video_control_form {
  display: flex;
  justify-content: space-between;

  width: 770px;
  margin-top: 95px;

  @include on_page_center();
}

.video_control_form input {
  width: 231px;
  height: 44px;

  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background: none;
  :focus {
    outline: none;
  }
}

.video_control_form-submit {
  width: 200px;
  height: 51px;

  border: none;
  border-radius: 2px;
  background-color: $Gold;
}

.input-container {
  position: relative;
}

.video_control_form-label {
  position: absolute;

  font-family: $FuturaBookC;
  font-size: 0.95rem;

  color: #36363680;
}

.checkbox_container {
  width: 290px;
  margin-top: 32px;

  font-family: $FuturaBookC;

  @include on_page_center();
}
