//TODO Correct number of columns.
//TODO Correct placement of heading in left top corner.
//TODO Interactive arrows and pagination circles.

.working_steps {
  width: 100%;

  @include hidden_in_mobile();

  * {
    background: transparent;
  }

  @media #{$information_desktop} {
    height: 800px;
  }
}

.working_steps_container {
  display: grid;

  margin-top: 0;
  margin-left: 90px;
  padding-top: 25px;

  grid-template-columns: 450px 765px;
  grid-template-rows: 686px;
}

.step_info {
  grid-column: 1;
  grid-row: 1;

  .projects_sliders {
    width: 287px;
    margin-top: 88px;
    margin-left: 9px;
  }

  .projects_sliders-dots {
    margin-top: 18px;
  }
}

.step_info-label_info {
  margin-top: 27px;
  margin-left: 9px;

  font-family: $FuturaDemiC;
  font-size: $size15px;

  color: #ffffff;

  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.step_info-label {
  width: 200px;
  margin-top: 17px;
  margin-left: 10px;

  font-family: $YesevaOne;
  font-size: 1.65rem;
  line-height: 37px;

  color: $Gold;

  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.step_info-step_number {
  margin-top: 86px;
  margin-left: 9px;

  font-family: $YesevaOne;
  font-size: 1.12rem;

  color: #ffffff;
}

.step_info_block-label {
  margin-top: 23px;
  margin-top: 22px;
  margin-bottom: 0;
  margin-left: 9px;

  font-family: $YesevaOne;
  font-size: $size15px;
  line-height: 22px;

  color: $Gold;

  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.step_info_block-text {
  width: 337px;
  margin-top: 12px;
  margin-left: 9px;

  font-family: $FuturaBookC;
  font-size: $size15px;
  line-height: 23px;

  color: #ffffff;

  letter-spacing: 0.25px;
}
