.working_steps {
  width: 100%;

  @include hidden_in_mobile();

  * {
    background: transparent;
  }

  @media #{$information_desktop} {
    height: 800px;
  }
}

.working_steps_container {
  display: grid;

  margin-top: 0;
  margin-left: 90px;
  padding-top: 25px;

  grid-template-columns: 450px auto;
  grid-template-rows: 725px;
}

.step_info {
  grid-column: 1;
  grid-row: 1;

  .projects_sliders {
    width: 287px;
    margin-top: 88px;
    margin-left: 9px;
  }

  .projects_sliders-dots {
    margin-top: 18px;
  }
}

.step_info-label_info {
  margin-top: 27px;
  margin-left: 9px;

  font-family: $FuturaDemiC;
  font-size: $size15px;

  color: #ffffff;

  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.step_info-label {
  width: 200px;
  margin-top: 17px;
  margin-left: 10px;

  font-family: $YesevaOne;
  font-size: 1.65rem;
  line-height: 37px;

  color: $Gold;

  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.step_info-step_number {
  margin-top: 86px;
  margin-left: 9px;

  font-family: $YesevaOne;
  font-size: 1.12rem;

  color: #ffffff;
}

.step_info_block-label {
  margin-top: 23px;
  margin-top: 22px;
  margin-bottom: 0;
  margin-left: 9px;

  font-family: $YesevaOne;
  font-size: $size15px;
  line-height: 22px;

  color: $Gold;

  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.step_info_block-text {
  width: 337px;
  margin-top: 12px;
  margin-left: 9px;

  font-family: $FuturaBookC;
  font-size: $size15px;
  line-height: 23px;

  color: #ffffff;

  letter-spacing: 0.25px;
}

.steps_container {
  display: grid;

  margin-top: 100px;

  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 329px 336px auto;
  grid-template-rows: 107px 110px auto;
}

.single_step {
  margin-top: 2px;
  margin-left: 35px;

  font-size: $size15px;

  color: rgba(255, 255, 255, 0.3);
}

.single_step-label {
  display: inline-block;

  margin-bottom: 0;
  padding-bottom: 2px;

  font-family: $YesevaOne;

  border-bottom: 1px solid #e3b8734d;
}

.single_step-text {
  width: 127px;
  margin-top: 11px;

  font-family: $FuturaBookC;
  line-height: 18px;
}

.first_step {
  grid-column: 1;
  grid-row: 1;
}

.second_step {
  grid-column: 2;
  grid-row: 1;
}

.third_step {
  grid-column: 3;
  grid-row: 1;
}

.forth_step {
  grid-column: 1;
  grid-row: 2;
}

.fifth_step {
  grid-column: 2;
  grid-row: 2;
}

.sixth_step {
  grid-column: 3;
  grid-row: 2;
}

.single_step--active {
  color: #ffffff;

  .single_step-label {
    border-bottom: 1px solid $Gold;
  }
}
