@import "../../abstracts/mixins";
@import "../../abstracts/fonts";

.projects-nav {
  width: 625px;
  margin-left: 20px;

  grid-column: 3 / span 5;
  grid-row: 1;

  @include hidden_in_mobile();
}

.projects_nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin-top: 5px;

  list-style-type: none;
}

.projects_nav_container-item {
  font-family: $YesevaOne;
  font-size: 0.85rem;

  text-decoration: none;
  text-transform: uppercase;
}

.projects_container-link {
  color: #ffffff4d;

  text-decoration: none;
}

.projects_container-active_link {
  padding-bottom: 7px;

  color: $Gold;
  border-bottom: 2px solid $Gold;
}

.projects_images {
  position: relative;

  display: flex;
  overflow: hidden;

  width: 845px;
  height: 482px;
  margin-left: 64px;

  grid-column: 3 / span 6;
  grid-row: 2 / span 8;
}

.projects_images-image {
  height: 482px;
}

.projects_images-first {
  width: 679px;

  background-image: url("../images/admiral.png") !important;
}

.projects_images-second {
  width: 145px;
  margin-left: 21px;

  background-image: url("../images/sochi.png") !important;
  background-position: -134px !important;
}

.projects_images-slider_right {
  position: absolute;
  top: 205px;
  right: 44px;

  width: 55px;
  height: 55px;

  border: none;
  border-radius: 100%;
  outline: none;
  background-color: $Gold !important;

  span {
    padding-top: 5px;
    padding-left: 3px;

    font-size: 4rem;

    content: url("../images/arrow.svg");
  }
}
