@import "../../abstracts/mixins";
@import "../../abstracts/fonts";

@import "text_block";
@import "nav";

.projects {
  width: 100%;
  height: 700px;

  @media #{$information_desktop} {
    height: 660px;
  }
}

.projects_container {
  display: grid;

  margin-left: 90px;
  padding-top: 55px;

  grid-template-columns: 190px 250px 280px 180px 290px auto;
  grid-template-rows: 75px 80px 130px 40px 66px 40px 60px 90px;

  @media #{$information_mobile} {
    grid-template-columns: 170px 170px;
    grid-template-rows: 75px 137px 130px 40px 66px 40px 60px;

    margin-left: 10px;
    padding-top: 35px;
  }

  .projects_sliders {
    @include hidden_in_mobile();
  }
}

.projects_container * {
  background: transparent;
}
