@import "../../abstracts/mixins";
@import "../../abstracts/fonts";

.projects-header {
  margin-top: 0;
  padding-left: 12px;

  font-family: $YesevaOne;
  font-size: 1.7rem;
  line-height: 37px;

  color: $Gold;

  letter-spacing: -2.4px;
  text-transform: uppercase;

  grid-column: 1;
  grid-row: 2;
}

.projects-description {
  padding-left: 11px;

  font-family: $FuturaBookC;
  font-size: 1.1rem;
  line-height: 27px;

  color: #ffffff;

  word-spacing: 1px;

  grid-column: 1 / span 2;
  grid-row: 3;
}

.projects-label {
  padding-left: 11px;

  font-family: $YesevaOne;
  font-size: 1.1rem;

  color: $Gold;

  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.projects-text {
  margin-top: 8px;
  padding-left: 10px;

  font-family: $FuturaBookC;
  font-size: $size15px;
  line-height: 19px;

  color: #ffffff;

  letter-spacing: 0.5px;
}

.projects-address_label {
  grid-column: 1;
  grid-row: 4;
}

.projects-address {
  width: 100px;

  grid-column: 1;
  grid-row: 5;
}

.projects-area_label {
  grid-column: 2;
  grid-row: 4;
}

.projects-area {
  grid-column: 2;
  grid-row: 5;
}

.projects-time_label {
  grid-column: 1;
  grid-row: 6;
}

.projects-time {
  grid-column: 1;
  grid-row: 7;
}

.projects-cost_label {
  grid-column: 2;
  grid-row: 6;
}

.projects-cost {
  grid-column: 2;
  grid-row: 7;
}
