@import "../../abstracts/mixins";
@import "../../abstracts/fonts";

.projects-header {
  margin-top: 0;
  margin-left: 12px;

  font-family: $YesevaOne;
  font-size: 1.7rem;
  line-height: 37px;

  color: $Gold;

  letter-spacing: -2.4px;
  text-transform: uppercase;

  grid-column: 1;
  grid-row: 2;

  @media #{$information_mobile} {
    width: 130px;
    margin-left: 110px;

    font-size: 1.375rem;
    line-height: 138.6%;

    text-align: center;
    letter-spacing: -0.07em;

    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

.projects-description {
  margin-left: 11px;

  font-family: $FuturaBookC;
  font-size: 1.1rem;
  line-height: 27px;

  color: #ffffff;

  word-spacing: 1px;

  grid-column: 1 / span 2;
  grid-row: 3;

  @media #{$information_mobile} {
    width: 315px;
    margin-top: 11px;
    margin-left: 21px;

    font-size: 0.875rem;
    line-height: 158.48%;

    text-align: center;
    letter-spacing: -0.01em;

    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

.projects-label {
  padding-left: 11px;

  font-family: $YesevaOne;
  font-size: 1.1rem;

  color: $Gold;

  letter-spacing: 0.3px;
  text-transform: uppercase;

  @media #{$information_mobile} {
    padding-left: 8px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 138.6%;
  }
}

.projects-text {
  margin-top: 8px;
  padding-left: 10px;

  font-family: $FuturaBookC;
  font-size: $size15px;
  line-height: 19px;

  color: #ffffff;

  letter-spacing: 0.5px;

  @media #{$information_mobile} {
    padding-left: 8px;
    letter-spacing: -0.2px;
  }
}

.projects-address_label {
  grid-column: 1;
  grid-row: 4;
}

.projects-address {
  width: 100px;

  grid-column: 1;
  grid-row: 5;
}

.projects-area_label {
  grid-column: 2;
  grid-row: 4;
}

.projects-area {
  grid-column: 2;
  grid-row: 5;
}

.projects-time_label {
  grid-column: 1;
  grid-row: 6;
}

.projects-time {
  grid-column: 1;
  grid-row: 7;
}

.projects-cost_label {
  grid-column: 2;
  grid-row: 6;
}

.projects-cost {
  grid-column: 2;
  grid-row: 7;
}
